body {
    background-color: #ffffff;
    color: black;
}

/* #c5c5c5; */

.carousel-inner{
    height: 30mm; /* 6 cm */
   /*  object-fit: cover; Pour s'assurer que l'image couvre toute la hauteur sans déformation */
}
.carousel-item {
    height: 30mm; /* 6 cm */
}

/* Elément de carousel */
#services1{
    color: #1A69B1;
}
#services2{
    color: #1A69B1;
}
#services3{
    color: #1A69B1;
}
#services4{
    color: #1A69B1;
}

#services1.dark-mode{
    color: #E9505B;
}
#services2.dark-mode{
    color: #E9505B;
}
#services3.dark-mode{
    color: #E9505B;
}
#services4.dark-mode{
    color: #E9505B;
}

#expService1.dark-mode{
    color: #ffffff;
}
#expService2.dark-mode{
    color: #ffffff;
}
#expService3.dark-mode{
    color: #ffffff;
}
#expService4.dark-mode{
    color: #ffffff;
}

#previous1.dark-mode{
    color: #ffffff;
}
#previous2.dark-mode{
    color: #ffffff;
}
#next1.dark-mode{
    color: #ffffff;
}
#next2.dark-mode{
    color: #ffffff;
}


.gradient-border {
    border-radius: 50%;
    box-shadow: 0 15px 40px #3096e9, 0 10px 20px #9ecf44;
}



.hidden {
    opacity: 0;
}
.visible {
    opacity: 1;
    transition: opacity 1s ease-out;
}
@keyframes floatIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.float-in {
    animation: floatIn 1s forwards;
}

#myName{
    color: #1A69B1;
}

#myName.dark-mode{
    color: #E9505B;
}


.titre_sect{
    color: #1A69B1;
}

.titre_sect.dark-mode{
    color: #E9505B;
}

.separator{
    color: #66A630;
}

.card-circle {
    overflow: hidden;
    background-color: #c5c5c5; /* Empêche l'image de dépasser le conteneur */
}

.zoom {
    transition: transform 0.2s; /* Animation */
  }
  
.zoom:hover {
    transform: scale(1.1); /* Zoom de 110% */
}

#icon{
    cursor: pointer;
}

.navbar {
    background-color: transparent;
}


/* master.css dark mode */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.navbar.dark-mode {
    background-color: transparent;
}

.nav-link.dark-mode {
    color: #ffffff;
}

.carousel.dark-mode{
    background-color: #121212;
}

.carousel-item.dark-mode{
    color: #ffffff;
}

.card.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

.btn-outline-primary.dark-mode {
    border-color: #ffffff;
    color: #ffffff;
}

